<h1>Cats</h1>

  <section>
    <ul>
      <% @cats.each do |cat| %>
        <li>
          <%= "#{cat.name}, age: #{cat.age} year(s)" %>
          <a href="<%= cat_url(cat.id) %>">Details</a>
        </li>
      <% end %>

      <br>

      <%= link_to "Add new cat", new_cat_url %>
    </ul>
  </section>
