<h1>Add a new cat!</h1>

  <section>
    <form action="<%= cats_url %>" method="post">
      <label for="name">Cat Name</label>
      <input type="text" id="name" name="cat[name]">

      <br>
      <br>

      <label for="birth_date">Cat Birthday</label>
      <input type="date" id ="birth_date" name="cat[birth_date]">

      <br>
      <br>

      <label for="color">Cat Color</label>
      <select id="color" name="cat[color]">
        <option disabled selected>Select Cat Color</option>
        <% Cat.colors.each do |color| %>
          <option value="<%= color %>"><%= color.capitalize %></option>
        <% end %>
      </select>

      <br>
      <br>

      <label for="sex">Sex</label>
      M<input type="radio" name="cat[sex]" value="M">
      F<input type="radio" name="cat[sex]" value="F">

      <br>
      <br>

      <label for="description">Description
        <textarea id="description" name="cat[description]" cols="30" rows="10"></textarea>
      </label>

      <br>
      <br>

      <input type="submit" name="" value="Add cat!">
    </form>
  </section>
